@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary: #031424;
  --secondary: #EF262C;
  --tertiary: #FF4E53;
  --light: #2C2C2C;
  --dark: #303030;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #F5F5F5;
}
.bg-white {
  background-color: #FFFFFF;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.cursor-pointer {
  cursor: pointer;
}
/** 
* @css color
**/
.opacity-65 {
  opacity: 0.65;
}
.rounded-6 {
  border-radius: 6px;
}
.rounded-r-6 {
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.max-w-xl {
  max-width: 584px;
}
.max-w-lg {
  max-width: 480px;
}
.w-full {
  width: 100%;
}
.h-60 {
  height: 60px;
}
.min-w-0{
 min-width: 0px;
}
.block{
  display: block;
}
.hidden {
  display: none;
}
/** 
* @css position
**/
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
/** 
* @css flex
**/
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-auto {
  flex: 1 1 auto;
}
.wrap {
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
}

.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.items-stretch {
  align-items: stretch;
}
.self-center {
  align-self: center;
}
.justify-self-center {
  justify-self: center;
}
.justify-center {
  justify-content: center;
}
.gap-1 {
  gap: 5px;
}
.gap-2 {
  gap: 8px;
}
.gap-3{
  gap: 12px;
}
.gap-4{
  gap: 16px;
}
.gap-5{
  gap: 20px;
}
.gap-6{
  gap: 24px;
}
.gap-7{
  gap: 28px;
}
.gap-10 {
  gap: 40px;
}
.gap-14 {
  gap: 56px;
}
.gap-y {
  row-gap: 18px;
}
.basis-25 {
  flex-basis: 20%;
}
.shrink-0 {
  flex-shrink: 0;
}
.shrink{
  flex-shrink: 1;
}
.grow {
  flex-grow: 1;
}
.grow-2{
  flex-grow: 2;
}
/** 
* @css spacing
**/
.px-3 {
  padding-left: 12px;
  padding-right: 12px;
}
.px-5 {
  padding-left: 20px;
  padding-right: 20px;
}
.px-6 {
  padding-left: 24px;
  padding-right: 24px;
}
.p-5 {
 padding: 20px;
}
.pr-5 {
  padding-right: 20px;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-3{
  padding-top: 12px;
  padding-bottom: 12px; 
}
.py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.pb-14 {
  padding-bottom: 56px;
}
.pt-11{
  padding-top: 44px;
}
.mt-11 {
  margin-top: 44px;
}
.mt-8{
  margin-top: 32px;
}
.mb-13 {
  margin-bottom: 52px;
}
/** 
* @css Typography
**/
.text-xs {
  font-size: 12px;
}
.text-sm {
  font-size: 14px;
}
.text-base {
  font-size: 16px;
}
.text-dark {
  color: var(--dark);
}
.font-medium {
  font-weight: 500;
}
.leading-5{
  line-height: 20px;
}
.leading-6 {
  line-height: 24px;
}
.tracking-wider{
  letter-spacing: .5px;
}

/* For mobile phones: */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For Table: md */
  .container {
    max-width: 720px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  
}

@media only screen and (min-width: 992px) {
  /* For Table: lg */
  .container {
    max-width: 920;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media only screen and (min-width: 1200px) {
  /* For Desktop: xl */
  .container {
    max-width: 1140px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .block--xl{
    display: block;
  }
  .flex--xl {
    display: flex;
  }
  .flex-row--xl{
    flex-direction: row;
  }
  .basis-25--xl {
    flex-basis: 20%;
  }
}

@media only screen and (min-width: 1400px) {
  /* For Desktop: 2xl */
  .container {
    max-width: 1320px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .py-4--2xl {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
